<a href="https://colab.research.google.com/github/krutse/sim-git/blob/master/python/Ch18/krutse_%D0%9A%D0%B5%D0%B9%D1%81_%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D1%81%D0%BA%D0%B8%D0%B5_%D1%81%D0%B5%D1%81%D1%81%D0%B8%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **3 кейс**

**Пользовательские сессии**

**Важно**

Перед началом решения выполните следующую ячейку, чтобы загрузить необходимый для работы файл.

In [1]:
!wget https://gist.github.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv

--2025-08-05 06:25:32--  https://gist.github.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv
Resolving gist.github.com (gist.github.com)... 140.82.114.3
Connecting to gist.github.com (gist.github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://gist.githubusercontent.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv [following]
--2025-08-05 06:25:32--  https://gist.githubusercontent.com/Vs8th/9fcfa729905072c12b1e535c71565a68/raw/sessions.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1880014 (1.8M) [text/plain]
Saving to: ‘sessions.csv’

sessions.csv        100%[===================>]   1.79M  --.-KB/s    in 0.1s

2025-08-05 06:25:33 (18.7 MB/s) - ‘sessions.csv’ saved [1880014/1880014]

Чтобы посмотреть как он выглядит выполните следующую ячейку.

In [ ]:
import pandas as pd

df = pd.read_csv('sessions.csv')
df

      user_id                                            session
0       user0  ["2023-05-06 20:43:45", 1192, [["page0", "2023...
1       user1  ["2023-05-03 15:39:47", 1642, [["page0", "2023...
2       user1  ["2023-05-16 21:24:30", 506, [["page0", "2023-...
3       user1  ["2023-05-09 01:41:35", 1004, [["page0", "2023...
4       user1  ["2023-05-26 05:31:50", 984, [["page0", "2023-...
...       ...                                                ...
5278  user998  ["2023-05-26 17:33:49", 631, [["page0", "2023-...
5279  user998  ["2023-05-15 23:21:39", 1393, [["page0", "2023...
5280  user998  ["2023-05-16 10:15:48", 1448, [["page0", "2023...
5281  user998  ["2023-05-26 17:06:25", 810, [["page0", "2023-...
5282  user999  ["2023-05-20 08:08:50", 744, [["page0", "2023-...

[5283 rows x 2 columns]

### **Решения**

#### **Задача 1**

Ваша задача написать функцию `get_time_to_conversion`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает среднее время между заходом на сайт и целевым действием.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res`

**Решение**

Напишите свое решение ниже

In [3]:
import csv, json
from datetime import datetime

def get_time_to_conversion(sess_file):
    sess_time = []
    with open(sess_file, 'r') as f:
        s_data = csv.DictReader(f, fieldnames=None, delimiter=',')
        for row in s_data:
            session = json.loads(row['session'])
            session_start = datetime.fromisoformat(session[0])
            targ_act = [datetime.fromisoformat(s[1])  for s in session[2] if s[0] == 'conversion']
            if len(targ_act) > 0:
                tm = (min(targ_act) - session_start).total_seconds()
                sess_time.append(tm)

        return round(sum(sess_time) / len(sess_time), 2)

res = get_time_to_conversion('sessions.csv')

print(res)

467.24

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [4]:
try:
    assert res == 467.24
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 2**

Ваша задача написать функцию `get_session_duration`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько вообще в среднем длится сессия.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res2`

**Решение**

Напишите свое решение ниже

In [6]:
import csv, json
from datetime import datetime

def get_session_duration(sess_file):
    sess_time = []
    with open(sess_file, 'r') as f:
        s_data = csv.DictReader(f, fieldnames=None, delimiter=',')
        for row in s_data:
            session = json.loads(row['session'])
            sess_time.append(session[1])
    return round(sum(sess_time) / len(sess_time), 2)

res2 = get_session_duration('sessions.csv')

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [7]:
try:
    assert res2 == 901.35
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 3**

Напишите функцию `get_daily_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает cколько разных заходов в течение дня делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res3`

**Решение**

Напишите свое решение ниже

In [9]:
import csv, json
from datetime import datetime

def get_daily_session_count(sess_file):
    u_data = {}
    with open(sess_file, 'r') as f:
        s_data = csv.DictReader(f, fieldnames=None, delimiter=',')
        for row in s_data:
            session = json.loads(row['session'])
            u_data.setdefault(row['user_id'],{})
            u_data[row['user_id']].setdefault(datetime.fromisoformat(session[0]).date(), 0)
            u_data[row['user_id']][datetime.fromisoformat(session[0]).date()] += 1
    udays = 0
    uentries = 0
    for u, dt in u_data.items():
        udays += len(dt)
        uentries += sum(dt.values())
    return round(uentries/udays,2)

res3 = get_daily_session_count('sessions.csv')

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [10]:
try:
    assert res3 == 1.11
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!

#### **Задача 4**

Напишите функцию `get_average_session_count`, которая принимает на вход сессии в формате, который вы определили для себя и подсчитывает сколько заходов вообще в среднем делает пользователь.

Результат - число типа `float`, округленное до двух знаков после запятой, сохраните в переменную `res4`

**Решение**

Напишите свое решение ниже

In [11]:
import csv

def get_average_session_count(sess_file):
    u_entr = {}
    with open(sess_file, 'r') as f:
        s_data = csv.DictReader(f, fieldnames=None, delimiter=',')
        for row in s_data:
            u_entr.setdefault(row['user_id'], 0)
            u_entr[row['user_id']] += 1
    return round(sum(u_entr.values())/len(u_entr), 2)

res4 = get_average_session_count('sessions.csv')

✏️ ✏️ ✏️

**Проверка**

Чтобы проверить свое решение, запустите код в следующих ячейках

In [12]:
try:
    assert res4 == 5.28
except AssertionError:
    print('Ответы не совпадают')
else:
    print('Поздравляем, Вы справились!')

Поздравляем, Вы справились!